.card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #23232e;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px #e33d3320, 0px 0px 0px 0px #e33d3314,
    0px 0px 0px 0px #e33d3312;
  border: 4px solid #e33d33;
  gap: 12px;
  transition: 0.2s transform;
}

.id {
  background-color: #e33d33;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 6px;
}

.name {
  font-size: 19px;
  font-weight: medium;
  letter-spacing: 0.15px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (max-width: 445px) {
  .card {
    width: 45vw;
    height: 270px;
  }
}

@media only screen and (max-width: 405px) {
  .card {
    gap: 8px;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    height: 255px;
    gap: 6px;
  }
}
