@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

.mainContainer {
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
}

.mainContent {
  max-width: 1600px;
  padding: 20px 0;
}

::-webkit-scrollbar-track {
  width: 12px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #23232e;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e33d33;
}

img,
button,
a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

a {
  color: inherit;
}

.react-ripples {
  border-radius: 4px;
}

@media only screen and (max-width: 375px) {
  .blackButton,
  .redButton {
    font-size: 16px;
  }
}
