.title h2 {
  text-align: center;
  margin: 2rem 0;
}

.title h2 span {
  color: #e33d33;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 90%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media only screen and (max-width: 490px) {
  .title h2 {
    font-size: 1.2rem;
  }

  .contentContainer {
    width: 98%;
  }
}

@media only screen and (max-width: 375px) {
  .title h2 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 360px) {
  .title h2 {
    font-size: 15px;
  }
}
