.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-sizing: border-box;
  animation: fadein 0.2s;
}

.modalContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 450px;
  height: 500px;
  background-color: #f8f9fa;
  border-radius: 1rem;
}

.statsContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 24px;
}

.statsContent h2 {
  text-align: center;
  margin: 0;
  padding: 5px 20px;
  text-transform: capitalize;
  border-radius: 1rem;
  background-color: #23232e;
  color: #fff;
}

.statsContent div {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #23232e;
}

.statsContent div p {
  font-size: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-family: "Arial", sans-serif;
  color: #e33d33;
  border: none;
  background-color: transparent;
  font-size: 32px;
  cursor: pointer;
  transform: rotate(45deg);
}

.close:hover {
  transform: rotate(135deg);
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  .modalContent {
    width: 320px;
  }

  .statsContent {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .modalContent {
    width: 300px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
