.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 450px;
  height: 500px;
}

.statsContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 24px;
}

.statsContent h2 {
  text-align: center;
  margin: 0;
  padding: 5px 20px;
  text-transform: capitalize;
  border-radius: 1rem;
  background-color: #23232e;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.statsContent div {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #23232e;
}

.statsContent div p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .modalContent {
    width: 320px;
  }

  .statsContent {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .modalContent {
    width: 300px;
  }
}
