.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.statsContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 24px;
}

.statsContent div {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #23232e;
}

.statsContent div p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .modalContent {
    width: 320px;
  }
}

@media only screen and (max-width: 400px) {
  .modalContent {
    width: 90vw;
  }
}
