@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23232e;
  height: 60px;
  padding: 0 40px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  color: #fff;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

.logoName h1,
.logoName span {
  font-family: "Press Start 2P", sans-serif;
}

.logoName span {
  color: #e33d33;
}

.links li {
  transition: 0.2s;
}

.links li:not(:last-child) {
  margin-right: 1rem;
}

.links li a {
  transition: 0.2s;
  font-size: 18px;
}

.links li > a:hover {
  border-top: 2px solid #e33d33;
  border-bottom: 2px solid #fff;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 425px) {
  .logoName h1,
  .logoName span {
    font-size: 18px;
  }

  .links li a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .navbar {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 340px) {
  .logoName h1,
  .logoName span {
    font-size: 16px;
  }
}
