.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23232e;
    height: 60px;
    padding: 0 40px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    color: #fff;
}

.logo {
    margin-right: 1rem;
}

.logoName span {
    color: #e33d33;
}

.links li {
    transition: .2s;
}

.links li:not(:last-child) {
    margin-right: 1rem;
}

.links li a {
    transition: .2s;
}

.links li a:hover {
    color: #e33d33;
}

.links li > a:hover {
    border-bottom: 2px solid #fff;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}